{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Online Bazar | Contact US Page</title>
{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="background text-light text-center p-3 mb-3">
                monukaushik51@gmail.com
            </div>
            <div class="background text-light text-center p-3 mb-3">
                9582185588
            </div>
            <div class="background text-light text-center p-3 mb-3">
                A-115,Sector 15,Noida,UP
            </div>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500px" id="gmap_canvas" src="https://maps.google.com/maps?q=a43%20sector%2016%20Noida&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a></div></div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5 class="background text-light p-2 text-center">Contact Us Section</h5>
            {% for i in messages %}
            <div class="alert alert-success" role="alert">
                {{i}}
                  </div>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Id</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email Id">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Contact Number">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Enter Subject">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" rows="5" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn background text-light w-100">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}