{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Online Bazar | Forget Password Page</title>
{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="{% static 'images/forget.jpg'%}" class="w-100">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5 class="background text-light p-2 text-center">Froget Password Section</h5>
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
                  </div>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter New Password">
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn background text-light w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}